body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9e3e3;
    font-family: poppins, sans-serif;

}

.container{
    text-align: center;
}

h1{
    font-size: 2rem;
    margin-bottom: 2rem;
    color: red;
    transition: color 0.3s ease;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0 0 0.2);
    animation: fadeIn 1s ease;

}

.gif-container{
    width: 100%;
    max-width: 500px;
    height: auto;

}